ul {
    position: fixed;
    top: 0;
    width: 100%;
    float: right;
    list-style-type: none;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
}

li a {
    display: block;
    text-decoration: none;
    color:gray;
}

li a:hover {
    text-decoration: underline;
}

img{
    padding: 200px;
    display: block;
}