#topnav {
    top: 0;
    width: 100%;
    list-style-type: none;
    padding: 1px;
    position: fixed;
    margin-left: 1px;
}

#topnav li {
    float: right;
}

a {
    display: block;
    padding: 20px;
}

#topnav li a {
    display: block;
    text-decoration: none;
    color:gray;
}

#topnav li a:hover {
    text-decoration: underline;
}

img{
    display: block;
    padding-top: 109px;
    margin: 0 auto;
}