body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
}

ul {
    list-style: none;
}

#nav_bar {
    float: right;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav_bar #sign_in {
    background: #4c8bf5;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}

.nav-links {
    color:  #404040;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: underline;
}

#sign_in:hover {
    text-decoration: none;
    box-shadow: 1px 1px 5px #999;
}

#sign_in {
    color: white;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    padding-top: 121px;
    padding-bottom: 20px;
    margin: 0;
}

.form {
    text-align: center;
}


.form input {
    border: none;
    padding: 10px;
    margin: 10px;
    height: 39px;
    width: 460px;
    border: 1px solid #eaeaea;
    outline: none;
    border-radius: 50px;
}
.form input:hover {
    border: none;
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
input:focus {
    border: none;
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.buttons input {
    margin: 11px 4px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    padding: 0 16px;
    color: #5F6368;
    background-color: #f2f2f2;
    font-size: 14px;
    min-width: 54px;
}
.buttons{
    text-align: center;
}

.buttons input:hover {
    border: 1px solid;
}

footer {
    position: absolute;
    background-color: #f2f2f2;
    border-top: solid 2px #e4e4e4;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
}

footer ul li {
    display: inline;
    color: #5F6368;
    font: 14px arial;
    padding-right: 27px;
    padding: 13px;
}

footer ul {
    float: left;
    padding: 1px;
}

footer ul li:hover {
    text-decoration: underline;
}

.footer-right {
    float: right;
}